/*
* @Author: 123
* @Date:   2018-08-12 11:24:11
* @Last Modified by:   123
* @Last Modified time: 2018-08-12 13:34:33
*/
*{
	padding: 0;
	margin: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: "苹方" ;
}
a{
	text-decoration: none;
}
i{
	font-style: normal;
}
body,html{
	width: 100%;
	height: 100%;
	position: relative;
}
body{
	background-image: url('../img/ff1.png');
	background-position: center;
	background-size: 100%;
	padding-top: 0.6rem;
	padding-left: 0.24rem;
	padding-right: 0.24rem;
}
.denglu{
	width: 0.5rem;
	height: 0.35rem;
	/* background: red; */
	float: right;
	margin-right: 0.5rem;
}
.denglu p{
	font-size: 0.25rem;
	color: white;
}
.touxiang{
	margin-left: 2.38rem;
	margin-top: 1.3rem;
}
.touxiang img{
	width: 2.57rem;
	height: 2.57rem;
}
.name{
	width: 1rem;
	height: 0.5rem;
	/* background-color: pink; */
	margin-left: 3.2rem;
}
.name p{
	font-size: 0.35rem;
	color: white;
}
ul{
	width: 100%;
	height: 3.54rem;
	/* background: pink; */
	margin-top: 0.2rem;
}
ul li{
	width: 100%;
	height: 25%;
	background: white;
	margin-top: 0.4rem;
	border-radius: 0.15rem;
	display: flex;
	flex-direction: row;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
ul li .red{
	width: 0.7rem;
	height: 0.14rem;
	background: #e60012;
	border-radius: 0.25rem;
	margin-top: 0.34rem;
}
ul li input{
	border: none;
	outline: none;
	margin-left: 0.2rem;
}
ul li .one{
	width: 0.26rem;
	height: 0.46rem;
	display: block;
	margin-left: 2rem;
	margin-top: 0.2rem;
}
ul li .two{
	width: 0.3rem;
	height: 0.38rem;
	margin-top: 0.25rem;
}
ul li:nth-child(2){
	padding-right: 0;
}
ul li .yzm{
	width: 1.6rem;
	height: 0.5rem;
	background: #e60012;
	margin-top: 0.15rem;
	margin-left: 1.2rem;
	border-radius: 0.1rem;
}
ul li .yzm p{
	font-size: 0.25rem;
	text-align: center;
	line-height: 0.5rem;
	color: white;
}
.zhuce{
	width: 100%;
	height: 0.8rem;
	/* background: #e60012; */
	margin-top: 0.1rem;
	display: flex;
	flex-direction: row;
}
.zhuce .forget{
	width: 1rem;
	height: 0.5rem;
	border-radius: 0.1rem;
	background: #e60012;
	margin-top: 0.2rem;
}
.zhuce .forget p{
	font-size: 0.2rem;
	color: white;
	text-align: center;
	line-height: 0.5rem;
}
.zhuce .anniu{
	width: 2.2rem;
	height: 0.6rem;
	background: #e60012;
	border-radius: 0.1rem;
	margin-left: 1.5rem;
	margin-top: 0.1rem;
}
.zhuce .anniu p{
	font-size: 0.3rem;
	color: white;
	text-align: center;
	line-height: 0.6rem;
}
.disanf {
	width: 100%;
	height: 0.35rem;
	margin-top: 0.2rem;
}
.disanf img{
	width: 5.2rem;
	height: 0.35rem;
	display: block;
	margin-left: 1rem;
}
.tubiao{
	width: 100%;
	height: 1rem;
	/* background: white; */
	margin-top: 0.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.tubiao img{
	width: 0.9rem;
	height: 0.91rem;
}